<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.TwilightMigratory.smcSystemDemandNow</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/smcSystemDemandNow/smc_daemon/start.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>KeepAlive</key>
    <true />
    <key>ThrottleInterval</key>
    <integer>1</integer>

    <!-- stdout and stderr logging -->
    <key>StandardOutPath</key>
    <string>/var/log/smcSystemDemandNow.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/smcSystemDemandNow.log</string>
</dict>
</plist>
